.auth-components{
    display: flex;
    flex-direction: column;
    background-color: grey;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

@media screen and (width<768px) {
    .auth-components{
        display: flex;
        flex-direction: column;
    }
}