.product-short-container {
  width: 31%;       
  background-color: #f5f5f5;
  padding: 2%;
  border-radius: 5px;
  box-sizing: border-box;
}

.product-short-image-container {
  width: 100%;
  height: 180px;    
  overflow: hidden;
}
.product-short-details-container {
  margin-top: 10px;
}
.product-short-name {
  font-weight: bold;
}
.product-short-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-short-category,
.product-short-desc,
.product-short-price {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .product-short-container {
    width: 48%;  
  }
}

@media (max-width: 480px) {
  .product-short-container {
    width: 100%; 
  }
}